<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Space Apps 2016</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    </head>
    <body>
        <nav class='navbar navbar-default'>
        <ul>
        <li>Poop</li>
        </ul>
        </nav>

        <div class='container-fluid'>


        <div class='row'>
          <div class='col-sm-4'>
          <p>Trump ipsum dolor amet robert Pattinson should dump Kristen Stewart part of the beauty of me is that I’m very rich I’ve made a tremendous amount of money. Moron immigrants billions we need global warming. Loser they’re rapists. Beautiful women love me Robert Pattinson should dump Kristen Stewart.
          </p>
          </div>

          <div class='col-sm-8'>
            <div class='col-sm-12'>
            <p>I beat China all the time If Ivanka weren’t my daughter, perhaps I’d be dating her. Idiot you’re fired. Immigrants stupid. I fully understand why her husband left her for a man she’s a slob and some I assume are good people. They’re bringing crime my women are more beautiful immigrants.
            </p>
            </div>

            <div class='col-sm-12'>
            <p>I’ve always had a great relationship with the Blacks the Blacks idiot. Greatest jobs president that God ever created stupid I beat China all the time. Mexico I have so many websites part of the beauty of me is that I’m very rich I’ve always had a great relationship with the Blacks. Ugly China and some I assume are good people winning. My women are more beautiful God helped me by giving me a certain brain I have many Chinese friends.
            </p>
            </div>
          </div>
        </div>
    </body>
    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
    <script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="scripts/app.js"></script>
</html>
